In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('DatasetAutoRecovered.xlsx')
df.head()

   SN                   Places                                        tags
0   1        Swyambunath Stupa  cultural, religious, wildlife, sightseeing
1   2     Pashupatinath Temple           religious, historical,sightseeing
2   3  Kathmandu Durbar Square           cultural, sightseeing, historical
3   4         Garden of Dreams                                 sightseeing
4   5         Boudhanath Stupa  cultural, religious, wildlife, sightseeing

In [3]:
df.shape

(104, 3)

In [4]:
df_final = df['Places']+' '+df['tags']

In [5]:
print(df_final)

0      Swyambunath Stupa cultural, religious, wildlif...
1      Pashupatinath Temple religious, historical,sig...
2      Kathmandu Durbar Square cultural, sightseeing,...
3                           Garden of Dreams sightseeing
4      Boudhanath Stupa cultural, religious, wildlife...
                             ...
99                                                   NaN
100                                                  NaN
101                                                  NaN
102                                                  NaN
103                                                  NaN
Length: 104, dtype: object

In [6]:
df_final = df_final.dropna()

In [7]:
print(df_final)

0     Swyambunath Stupa cultural, religious, wildlif...
1     Pashupatinath Temple religious, historical,sig...
2     Kathmandu Durbar Square cultural, sightseeing,...
3                          Garden of Dreams sightseeing
4     Boudhanath Stupa cultural, religious, wildlife...
                            ...
94                     Dreamland Eco Resort sightseeing
95               LOD - Lord Of The Drinks entertainment
96                         Dadagaun sightseeing ,hiking
97                        Kalu Pandey Danda sightseeing
98                  Central Zoo entertainment ,wildlife
Length: 99, dtype: object

In [8]:
df = df.dropna()

In [9]:
df

    SN                    Places                                        tags
0    1         Swyambunath Stupa  cultural, religious, wildlife, sightseeing
1    2      Pashupatinath Temple           religious, historical,sightseeing
2    3   Kathmandu Durbar Square           cultural, sightseeing, historical
3    4          Garden of Dreams                                 sightseeing
4    5          Boudhanath Stupa  cultural, religious, wildlife, sightseeing
..  ..                       ...                                         ...
94  95      Dreamland Eco Resort                                 sightseeing
95  96  LOD - Lord Of The Drinks                               entertainment
96  97                  Dadagaun                         sightseeing ,hiking
97  98         Kalu Pandey Danda                                 sightseeing
98  99               Central Zoo                     entertainment ,wildlife

[99 rows x 3 columns]

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

count_matrix1 = cv.fit_transform(df_final).toarray()
count_matrix1

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 1]], dtype=int64)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

count_matrix = cv.fit_transform(df['tags']).toarray()
count_matrix

array([[0, 0, 1, ..., 0, 1, 1],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 1, ..., 0, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1]], dtype=int64)

In [12]:
count_matrix1.shape

(99, 174)

In [13]:
X_name = cv.get_feature_names()
X_name

c:\users\epoch\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['adventerous',
 'art',
 'cultural',
 'entertainment',
 'hiking',
 'historic',
 'historical',
 'picnic',
 'religious',
 'sightseeeing',
 'sightseeing',
 'wildlife']

In [14]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(count_matrix)

similarity[0]

array([1.        , 0.57735027, 0.57735027, 0.5       , 1.        ,
       0.5       , 0.5       , 0.57735027, 0.8660254 , 0.5       ,
       0.5       , 0.35355339, 0.57735027, 0.5       , 0.35355339,
       0.57735027, 0.28867513, 0.5       , 0.        , 0.70710678,
       0.70710678, 0.5       , 0.70710678, 0.8660254 , 0.28867513,
       0.8660254 , 0.70710678, 0.5       , 0.70710678, 0.70710678,
       0.28867513, 0.70710678, 0.        , 0.        , 0.        ,
       0.70710678, 0.5       , 0.57735027, 0.35355339, 0.28867513,
       0.        , 0.28867513, 0.35355339, 0.35355339, 0.5       ,
       0.75      , 0.28867513, 0.25      , 0.        , 0.35355339,
       0.        , 0.        , 0.        , 0.35355339, 0.        ,
       0.28867513, 0.35355339, 0.35355339, 0.70710678, 0.70710678,
       0.70710678, 0.35355339, 0.28867513, 0.35355339, 0.57735027,
       0.        , 0.25      , 0.        , 0.28867513, 0.70710678,
       0.70710678, 0.35355339, 0.70710678, 0.35355339, 0.35355339,
       0.35355339, 0.28867513, 0.        , 0.35355339, 0.70710678,
       0.35355339, 0.        , 0.35355339, 0.35355339, 0.        ,
       0.28867513, 0.        , 0.        , 0.35355339, 0.5       ,
       0.5       , 0.70710678, 0.5       , 0.5       , 0.5       ,
       0.        , 0.35355339, 0.5       , 0.35355339])

In [15]:
from sklearn.metrics.pairwise import cosine_similarity
similarity1 = cosine_similarity(count_matrix1)

In [16]:
similarity[0]

array([1.        , 0.57735027, 0.57735027, 0.5       , 1.        ,
       0.5       , 0.5       , 0.57735027, 0.8660254 , 0.5       ,
       0.5       , 0.35355339, 0.57735027, 0.5       , 0.35355339,
       0.57735027, 0.28867513, 0.5       , 0.        , 0.70710678,
       0.70710678, 0.5       , 0.70710678, 0.8660254 , 0.28867513,
       0.8660254 , 0.70710678, 0.5       , 0.70710678, 0.70710678,
       0.28867513, 0.70710678, 0.        , 0.        , 0.        ,
       0.70710678, 0.5       , 0.57735027, 0.35355339, 0.28867513,
       0.        , 0.28867513, 0.35355339, 0.35355339, 0.5       ,
       0.75      , 0.28867513, 0.25      , 0.        , 0.35355339,
       0.        , 0.        , 0.        , 0.35355339, 0.        ,
       0.28867513, 0.35355339, 0.35355339, 0.70710678, 0.70710678,
       0.70710678, 0.35355339, 0.28867513, 0.35355339, 0.57735027,
       0.        , 0.25      , 0.        , 0.28867513, 0.70710678,
       0.70710678, 0.35355339, 0.70710678, 0.35355339, 0.35355339,
       0.35355339, 0.28867513, 0.        , 0.35355339, 0.70710678,
       0.35355339, 0.        , 0.35355339, 0.35355339, 0.        ,
       0.28867513, 0.        , 0.        , 0.35355339, 0.5       ,
       0.5       , 0.70710678, 0.5       , 0.5       , 0.5       ,
       0.        , 0.35355339, 0.5       , 0.35355339])

In [17]:
similarity[0].shape

(99,)

In [18]:
sorted(similarity[0],reverse=True)

[1.0,
 1.0,
 0.8660254037844388,
 0.8660254037844388,
 0.8660254037844388,
 0.75,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.5773502691896258,
 0.5773502691896258,
 0.5773502691896258,
 0.5773502691896258,
 0.5773502691896258,
 0.5773502691896258,
 0.5773502691896258,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.25,
 0.25,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [19]:
# Capturing the index position 
list(enumerate(similarity[0]))

[(0, 1.0),
 (1, 0.5773502691896258),
 (2, 0.5773502691896258),
 (3, 0.5),
 (4, 1.0),
 (5, 0.5),
 (6, 0.5),
 (7, 0.5773502691896258),
 (8, 0.8660254037844388),
 (9, 0.5),
 (10, 0.5),
 (11, 0.35355339059327373),
 (12, 0.5773502691896258),
 (13, 0.5),
 (14, 0.35355339059327373),
 (15, 0.5773502691896258),
 (16, 0.2886751345948129),
 (17, 0.5),
 (18, 0.0),
 (19, 0.7071067811865475),
 (20, 0.7071067811865475),
 (21, 0.5),
 (22, 0.7071067811865475),
 (23, 0.8660254037844388),
 (24, 0.2886751345948129),
 (25, 0.8660254037844388),
 (26, 0.7071067811865475),
 (27, 0.5),
 (28, 0.7071067811865475),
 (29, 0.7071067811865475),
 (30, 0.2886751345948129),
 (31, 0.7071067811865475),
 (32, 0.0),
 (33, 0.0),
 (34, 0.0),
 (35, 0.7071067811865475),
 (36, 0.5),
 (37, 0.5773502691896258),
 (38, 0.35355339059327373),
 (39, 0.2886751345948129),
 (40, 0.0),
 (41, 0.2886751345948129),
 (42, 0.35355339059327373),
 (43, 0.35355339059327373),
 (44, 0.5),
 (45, 0.75),
 (46, 0.2886751345948129),
 (47, 0.25),
 (48, 0.0),
 (49, 0.35355339059327373),
 (50, 0.0),
 (51, 0.0),
 (52, 0.0),
 (53, 0.35355339059327373),
 (54, 0.0),
 (55, 0.2886751345948129),
 (56, 0.35355339059327373),
 (57, 0.35355339059327373),
 (58, 0.7071067811865475),
 (59, 0.7071067811865475),
 (60, 0.7071067811865475),
 (61, 0.35355339059327373),
 (62, 0.2886751345948129),
 (63, 0.35355339059327373),
 (64, 0.5773502691896258),
 (65, 0.0),
 (66, 0.25),
 (67, 0.0),
 (68, 0.2886751345948129),
 (69, 0.7071067811865475),
 (70, 0.7071067811865475),
 (71, 0.35355339059327373),
 (72, 0.7071067811865475),
 (73, 0.35355339059327373),
 (74, 0.35355339059327373),
 (75, 0.35355339059327373),
 (76, 0.2886751345948129),
 (77, 0.0),
 (78, 0.35355339059327373),
 (79, 0.7071067811865475),
 (80, 0.35355339059327373),
 (81, 0.0),
 (82, 0.35355339059327373),
 (83, 0.35355339059327373),
 (84, 0.0),
 (85, 0.2886751345948129),
 (86, 0.0),
 (87, 0.0),
 (88, 0.35355339059327373),
 (89, 0.5),
 (90, 0.5),
 (91, 0.7071067811865475),
 (92, 0.5),
 (93, 0.5),
 (94, 0.5),
 (95, 0.0),
 (96, 0.35355339059327373),
 (97, 0.5),
 (98, 0.35355339059327373)]

In [20]:
# Getting the first five recommendations from similarity

sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(4, 1.0),
 (8, 0.8660254037844388),
 (23, 0.8660254037844388),
 (25, 0.8660254037844388),
 (45, 0.75)]

In [21]:
def recommend(places):
    places_index = df[df['Places'] == places].index[0]
    distances = similarity[places_index]
    places_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in places_list:
        print(df.iloc[i[0]].Places)

In [22]:
def recommend1(places):
    places_index = df[df['Places'] == places].index[0]
    distances = similarity1[places_index]
    places_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in places_list:
        print(df.iloc[i[0]].Places)

In [23]:
recommend('Swyambunath Stupa')

Boudhanath Stupa
Budhanilkantha Temple
Jagannath Temple
Vajrayogini Temple
Namo Buddha

In [24]:
recommend1('Swyambunath Stupa')

Boudhanath Stupa
Budhanilkantha Temple
Jagannath Temple
Vajrayogini Temple
Chabahil Stupa

In [25]:
df.iloc[4].Places

'Boudhanath Stupa'

In [26]:
recommend('Garden of Dreams')

Kumari Bahal
Kopan Monastery
Asan Tole
White Monastery
Taudaha Lake

In [27]:
recommend1('Garden of Dreams')

House of Palettes
National Museum of Nepal
Thamel
Pharping
Kumari Bahal

In [28]:
import pickle

In [29]:
pickle.dump(df,open('places.pickle','wb'))

In [30]:
pickle.dump(df.to_dict(),open('places_dict.pickle','wb'))

In [31]:
df['Places'].values

array(['Swyambunath Stupa', 'Pashupatinath Temple',
       'Kathmandu Durbar Square', 'Garden of Dreams', 'Boudhanath Stupa',
       'Kumari Bahal', 'Kopan Monastery', 'Narayanhiti Palace',
       'Budhanilkantha Temple', 'Asan Tole', 'White Monastery',
       'Dharahara', 'Hanuman Dhoka', 'Taudaha Lake',
       'Siddhartha Art Gallery', 'Pulchoki', 'The Last Resort', 'Thamel',
       'Bhundole', 'Dakshinkali Temple', 'Patan', 'Indra Chowk',
       'Kala Bhairav', 'Jagannath Temple', 'National Museum of Nepal',
       'Vajrayogini Temple', 'Taleju Temple',
       'National Botanical Gardens', 'Akash Bhairav Temple',
       'Seto Machindranath Temple', 'Tribhuvan Museum',
       'Shiva-Parvati Temple', 'Kaiser Library', 'Stone Inscription',
       'Casino Royale', 'Annapurna Temple', 'Chhauni Museum',
       'Chabahil Stupa', 'Freak Street', 'chandragiri',
       'Kathmandu Fun Park', 'Nagarkot', 'Dhulikhel', 'Chobhar Danda',
       'Pharping', 'Namo Buddha', 'JarsingPauwa', 'Lakuri Bhanjyang',
       'Jump KTM', 'Art in Paradise Nepal', 'Whoopee Land', 'Astrek Park',
       'Kathmandu Sports and Climbing Centre', 'House of Palettes',
       'Outdoor Adventure Centre Nepal', 'Sundarijal', '55 window palace',
       'Bhaktapur Durbar Square', 'Taumadhi Square',
       'Changunarayan Temple', 'Doleshwar Mahadev Temple', 'Thimi',
       'Dattatraya and Pottery Square', 'Pilot Baba Ashram',
       'Kailashnath Temple', 'Ranikot', 'Trishul Danda', 'Ghyampe Danda',
       'Latarambeshwar', 'Subarneshwar Mahadev Temple',
       'Anantalingeshwar Mahadev Temple', 'kalamasi', 'Nil Barahi Temple',
       'Gundu', 'Mahamanjushree Temple', 'Godavari', 'Shivapuri',
       'Marble Danda', 'Kakani', 'Muchkund Cave', 'Chisapani',
       'Champadevi', 'Panch Pokhari', 'White House', 'Bishnudwar',
       'Jamacho', 'Tarebhir', 'Shivapuri National Park', 'Sukute Beach',
       'Single Tree Hill', 'Bagh Bhairav Temple',
       'Nagar Mandap Shri Kirti Bihar', 'Tinthana Suspension Bridge',
       '\xa0BP Koirala Memorial Planetarium Observatory and Science Museum',
       'Dreamland Eco Resort', 'LOD - Lord Of The Drinks', 'Dadagaun',
       'Kalu Pandey Danda', 'Central Zoo'], dtype=object)

In [32]:
df.to_dict()

{'SN': {0: 1,
  1: 2,
  2: 3,
  3: 4,
  4: 5,
  5: 6,
  6: 7,
  7: 8,
  8: 9,
  9: 10,
  10: 11,
  11: 12,
  12: 13,
  13: 14,
  14: 15,
  15: 16,
  16: 17,
  17: 18,
  18: 19,
  19: 20,
  20: 21,
  21: 22,
  22: 23,
  23: 24,
  24: 25,
  25: 26,
  26: 27,
  27: 28,
  28: 29,
  29: 30,
  30: 31,
  31: 32,
  32: 33,
  33: 34,
  34: 35,
  35: 36,
  36: 37,
  37: 38,
  38: 39,
  39: 40,
  40: 41,
  41: 42,
  42: 43,
  43: 44,
  44: 45,
  45: 46,
  46: 47,
  47: 48,
  48: 49,
  49: 50,
  50: 21,
  51: 52,
  52: 53,
  53: 54,
  54: 55,
  55: 56,
  56: 57,
  57: 58,
  58: 59,
  59: 60,
  60: 61,
  61: 62,
  62: 63,
  63: 64,
  64: 65,
  65: 66,
  66: 67,
  67: 68,
  68: 69,
  69: 70,
  70: 71,
  71: 72,
  72: 73,
  73: 74,
  74: 75,
  75: 76,
  76: 77,
  77: 78,
  78: 79,
  79: 80,
  80: 81,
  81: 82,
  82: 83,
  83: 84,
  84: 85,
  85: 86,
  86: 87,
  87: 88,
  88: 89,
  89: 90,
  90: 91,
  91: 92,
  92: 93,
  93: 94,
  94: 95,
  95: 96,
  96: 97,
  97: 98,
  98: 99},
 'Places': {0: 'Swyambunath Stupa',
  1: 'Pashupatinath Temple',
  2: 'Kathmandu Durbar Square',
  3: 'Garden of Dreams',
  4: 'Boudhanath Stupa',
  5: 'Kumari Bahal',
  6: 'Kopan Monastery',
  7: 'Narayanhiti Palace',
  8: 'Budhanilkantha Temple',
  9: 'Asan Tole',
  10: 'White Monastery',
  11: 'Dharahara',
  12: 'Hanuman Dhoka',
  13: 'Taudaha Lake',
  14: 'Siddhartha Art Gallery',
  15: 'Pulchoki',
  16: 'The Last Resort',
  17: 'Thamel',
  18: 'Bhundole',
  19: 'Dakshinkali Temple',
  20: 'Patan',
  21: 'Indra Chowk',
  22: 'Kala Bhairav',
  23: 'Jagannath Temple',
  24: 'National Museum of Nepal',
  25: 'Vajrayogini Temple',
  26: 'Taleju Temple',
  27: 'National Botanical Gardens',
  28: 'Akash Bhairav Temple',
  29: 'Seto Machindranath Temple',
  30: 'Tribhuvan Museum',
  31: 'Shiva-Parvati Temple',
  32: 'Kaiser Library',
  33: 'Stone Inscription',
  34: 'Casino Royale',
  35: 'Annapurna Temple',
  36: 'Chhauni Museum',
  37: 'Chabahil Stupa',
  38: 'Freak Street',
  39: 'chandragiri',
  40: 'Kathmandu Fun Park',
  41: 'Nagarkot',
  42: 'Dhulikhel',
  43: 'Chobhar Danda',
  44: 'Pharping',
  45: 'Namo Buddha',
  46: 'JarsingPauwa',
  47: 'Lakuri Bhanjyang',
  48: 'Jump KTM',
  49: 'Art in Paradise Nepal',
  50: 'Whoopee Land',
  51: 'Astrek Park',
  52: 'Kathmandu Sports and Climbing Centre',
  53: 'House of Palettes',
  54: 'Outdoor Adventure Centre Nepal',
  55: 'Sundarijal',
  56: '55 window palace',
  57: 'Bhaktapur Durbar Square',
  58: 'Taumadhi Square',
  59: 'Changunarayan Temple',
  60: 'Doleshwar Mahadev Temple',
  61: 'Thimi',
  62: 'Dattatraya and Pottery Square',
  63: 'Pilot Baba Ashram',
  64: 'Kailashnath Temple',
  65: 'Ranikot',
  66: 'Trishul Danda',
  67: 'Ghyampe Danda',
  68: 'Latarambeshwar',
  69: 'Subarneshwar Mahadev Temple',
  70: 'Anantalingeshwar Mahadev Temple',
  71: 'kalamasi',
  72: 'Nil Barahi Temple',
  73: 'Gundu',
  74: 'Mahamanjushree Temple',
  75: 'Godavari',
  76: 'Shivapuri',
  77: 'Marble Danda',
  78: 'Kakani',
  79: 'Muchkund Cave',
  80: 'Chisapani',
  81: 'Champadevi',
  82: 'Panch Pokhari',
  83: 'White House',
  84: 'Bishnudwar',
  85: 'Jamacho',
  86: 'Tarebhir',
  87: 'Shivapuri National Park',
  88: 'Sukute Beach',
  89: 'Single Tree Hill',
  90: 'Bagh Bhairav Temple',
  91: 'Nagar Mandap Shri Kirti Bihar',
  92: 'Tinthana Suspension Bridge',
  93: '\xa0BP Koirala Memorial Planetarium Observatory and Science Museum',
  94: 'Dreamland Eco Resort',
  95: 'LOD - Lord Of The Drinks',
  96: 'Dadagaun',
  97: 'Kalu Pandey Danda',
  98: 'Central Zoo'},
 'tags': {0: 'cultural, religious, wildlife, sightseeing',
  1: 'religious, historical,sightseeing',
  2: 'cultural, sightseeing, historical',
  3: 'sightseeing',
  4: 'cultural, religious, wildlife, sightseeing',
  5: 'sightseeing',
  6: 'sightseeing',
  7: 'cultural, historic, sightseeing',
  8: 'cultural, religious, sightseeing',
  9: 'sightseeing',
  10: 'sightseeing',
  11: 'sightseeing, historical',
  12: 'religious, sightseeing, historical',
  13: 'sightseeing',
  14: 'sightseeing ,art',
  15: 'adventerous ,wildlife ,sightseeing',
  16: 'entertainment ,sightseeing ,adventerous',
  17: 'sightseeing',
  18: 'hiking',
  19: 'religious ,sightseeing',
  20: 'cultural ,sightseeing',
  21: 'sightseeing',
  22: 'cultural ,sightseeing',
  23: 'cultural , religious, sightseeing',
  24: 'art ,sightseeing ,historical',
  25: 'cultural ,religious ,sightseeing',
  26: 'cultural, sightseeing',
  27: 'sightseeing ',
  28: 'cultural ,sightseeing',
  29: 'cultural, sightseeing',
  30: 'art, sightseeing ,historical',
  31: 'cultural , sightseeing',
  32: 'historical',
  33: 'historical ,art',
  34: 'entertainment ',
  35: 'cultural, sightseeing',
  36: 'sightseeing',
  37: 'cultural, historical ,sightseeing',
  38: 'art ,sightseeing',
  39: 'hiking, sightseeing ,entertainment',
  40: 'entertainment ',
  41: 'adventerous, sightseeing, picnic',
  42: 'adventerous ,sightseeing ',
  43: 'historic, sightseeing',
  44: 'sightseeing',
  45: 'cultural, religious, sightseeing ,historical',
  46: 'entertainment ,sightseeing ,adventerous',
  47: 'entertainment, hiking, adventerous, sightseeing',
  48: 'entertainment',
  49: 'art ,sightseeing',
  50: 'entertainment ,adventerous',
  51: 'adventerous ,entertainment',
  52: 'adventerous ,entertainment',
  53: 'art ,sightseeing',
  54: 'adventerous ,entertainment',
  55: 'hiking ,adventerous, sightseeing',
  56: 'historical ,sightseeing',
  57: 'historical ,sightseeing',
  58: 'religious ,sightseeing',
  59: 'cultural, sightseeing',
  60: 'cultural, sightseeing',
  61: 'art ,sightseeing',
  62: 'historical, sightseeing ,art',
  63: 'sightseeing, picnic',
  64: 'art ,sightseeing ,religious',
  65: 'hiking ,adventerous ',
  66: 'hiking ,picnic ,adventerous ,sightseeing',
  67: 'adventerous',
  68: 'hiking ,adventerous, religious',
  69: 'sightseeing , religious',
  70: 'religious ,sightseeing',
  71: 'picnic,sightseeing',
  72: 'sightseeing, wildlife ',
  73: 'sightseeing ,adventerous',
  74: 'historical ,sightseeing',
  75: 'picnic ,sightseeing',
  76: 'hiking ,sightseeing ,picnic',
  77: 'hiking',
  78: 'sightseeing ,picnic',
  79: 'religious ,sightseeing',
  80: 'hiking ,sightseeing ',
  81: 'hiking ,adventerous ,sightseeeing',
  82: 'religious ,hiking',
  83: 'adventerous ,sightseeing',
  84: 'hiking',
  85: 'hiking ,sightseeing ,picnic',
  86: 'hiking',
  87: 'adventerous',
  88: 'sightseeing ,entertainment',
  89: 'sightseeing',
  90: 'religious ',
  91: 'sightseeing ,religious',
  92: 'sightseeing',
  93: 'sightseeing',
  94: 'sightseeing',
  95: 'entertainment',
  96: 'sightseeing ,hiking',
  97: 'sightseeing',
  98: 'entertainment ,wildlife'}}

In [33]:
pickle.dump(similarity,open('similarity.pkl', 'wb'))

In [34]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)

In [35]:
from scipy.sparse import csr_matrix

places_sparse = csr_matrix(count_matrix)

In [36]:
places_sparse

<99x12 sparse matrix of type '<class 'numpy.int64'>'
	with 202 stored elements in Compressed Sparse Row format>

In [37]:
# define model
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)
model_knn.fit(places_sparse)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1, n_neighbors=20)

In [ ]:
data=pd.merge(data,placeInfo,left_on='itemId',right_on="itemId")
userIds=data.userId
userIds2=data[['userId']]

data.loc[0:10,['userId']]
data=pd.DataFrame.sort_values(data,['userId','itemId'],ascending=[0,1])

In [30]:
def fuzzy_matching(mapper, fav_place, verbose=True):

    match_tuple = []
    # get match
    for title, idx in mapper.items():
        ratio = fuzz.ratio(title.lower(), fav_place.lower())
        if ratio >= 60:
            match_tuple.append((title, idx, ratio))
    # sort
    match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
    if not match_tuple:
        print('Oops! No match is found')
        return
    if verbose:
        print('Found possible matches in our database: {0}\n'.format([x[0] for x in match_tuple]))
    return match_tuple[0][1]

In [31]:
def make_recommendation(model_knn, data, mapper, fav_place, n_recommendations):
  
    # fit
    model_knn.fit(data)
    print('You have input movie:', fav_place)
    idx = fuzzy_matching(mapper, fav_place, verbose=True)
    # inference
    print('Recommendation system start to make inference')
    print('......\n')
    distances, indices = model_knn.kneighbors(data[idx], n_neighbors=n_recommendations+1)
    # get list of raw idx of recommendations
    raw_recommends = \
        sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[:0:-1]
    # get reverse mapper
    reverse_mapper = {v: k for k, v in mapper.items()}
    # print recommendations
    print('Recommendations for {}:'.format(fav_movie))
    for i, (idx, dist) in enumerate(raw_recommends):
        print('{0}: {1}, with distance of {2}'.format(i+1, reverse_mapper[idx], dist))

In [32]:
places_mat = df.pivot(index='Places', columns='tags').fillna(0)

In [33]:
places_mat

                                                            SN  \
tags                                               adventerous
Places
55 window palace                                           0.0
Akash Bhairav Temple                                       0.0
Anantalingeshwar Mahadev Temple                            0.0
Annapurna Temple                                           0.0
Art in Paradise Nepal                                      0.0
...                                                        ...
White Monastery                                            0.0
Whoopee Land                                               0.0
chandragiri                                                0.0
kalamasi                                                   0.0
Â BP Koirala Memorial Planetarium Observatory an...         0.0

                                                                               \
tags                                               adventerous ,entertainment
Places
55 window palace                                                          0.0
Akash Bhairav Temple                                                      0.0
Anantalingeshwar Mahadev Temple                                           0.0
Annapurna Temple                                                          0.0
Art in Paradise Nepal                                                     0.0
...                                                                       ...
White Monastery                                                           0.0
Whoopee Land                                                              0.0
chandragiri                                                               0.0
kalamasi                                                                  0.0
Â BP Koirala Memorial Planetarium Observatory an...                        0.0

                                                                             \
tags                                               adventerous ,sightseeing
Places
55 window palace                                                        0.0
Akash Bhairav Temple                                                    0.0
Anantalingeshwar Mahadev Temple                                         0.0
Annapurna Temple                                                        0.0
Art in Paradise Nepal                                                   0.0
...                                                                     ...
White Monastery                                                         0.0
Whoopee Land                                                            0.0
chandragiri                                                             0.0
kalamasi                                                                0.0
Â BP Koirala Memorial Planetarium Observatory an...                      0.0

                                                                              \
tags                                               adventerous ,sightseeing
Places
55 window palace                                                         0.0
Akash Bhairav Temple                                                     0.0
Anantalingeshwar Mahadev Temple                                          0.0
Annapurna Temple                                                         0.0
Art in Paradise Nepal                                                    0.0
...                                                                      ...
White Monastery                                                          0.0
Whoopee Land                                                             0.0
chandragiri                                                              0.0
kalamasi                                                                 0.0
Â BP Koirala Memorial Planetarium Observatory an...                       0.0

                                                                                       \
tags                                               adventerous ,wildlife ,sightseeing
Places
55 window palace                                                                  0.0
Akash Bhairav Temple                                                              0.0
Anantalingeshwar Mahadev Temple                                                   0.0
Annapurna Temple                                                                  0.0
Art in Paradise Nepal                                                             0.0
...                                                                               ...
White Monastery                                                                   0.0
Whoopee Land                                                                      0.0
chandragiri                                                                       0.0
kalamasi                                                                          0.0
Â BP Koirala Memorial Planetarium Observatory an...                                0.0

                                                                                     \
tags                                               adventerous, sightseeing, picnic
Places
55 window palace                                                                0.0
Akash Bhairav Temple                                                            0.0
Anantalingeshwar Mahadev Temple                                                 0.0
Annapurna Temple                                                                0.0
Art in Paradise Nepal                                                           0.0
...                                                                             ...
White Monastery                                                                 0.0
Whoopee Land                                                                    0.0
chandragiri                                                                     0.0
kalamasi                                                                        0.0
Â BP Koirala Memorial Planetarium Observatory an...                              0.0

                                                                     \
tags                                               art ,sightseeing
Places
55 window palace                                                0.0
Akash Bhairav Temple                                            0.0
Anantalingeshwar Mahadev Temple                                 0.0
Annapurna Temple                                                0.0
Art in Paradise Nepal                                          50.0
...                                                             ...
White Monastery                                                 0.0
Whoopee Land                                                    0.0
chandragiri                                                     0.0
kalamasi                                                        0.0
Â BP Koirala Memorial Planetarium Observatory an...              0.0

                                                                                 \
tags                                               art ,sightseeing ,historical
Places
55 window palace                                                            0.0
Akash Bhairav Temple                                                        0.0
Anantalingeshwar Mahadev Temple                                             0.0
Annapurna Temple                                                            0.0
Art in Paradise Nepal                                                       0.0
...                                                                         ...
White Monastery                                                             0.0
Whoopee Land                                                                0.0
chandragiri                                                                 0.0
kalamasi                                                                    0.0
Â BP Koirala Memorial Planetarium Observatory an...                          0.0

                                                                                \
tags                                               art ,sightseeing ,religious
Places
55 window palace                                                           0.0
Akash Bhairav Temple                                                       0.0
Anantalingeshwar Mahadev Temple                                            0.0
Annapurna Temple                                                           0.0
Art in Paradise Nepal                                                      0.0
...                                                                        ...
White Monastery                                                            0.0
Whoopee Land                                                               0.0
chandragiri                                                                0.0
kalamasi                                                                   0.0
Â BP Koirala Memorial Planetarium Observatory an...                         0.0

                                                                                 \
tags                                               art, sightseeing ,historical
Places
55 window palace                                                            0.0
Akash Bhairav Temple                                                        0.0
Anantalingeshwar Mahadev Temple                                             0.0
Annapurna Temple                                                            0.0
Art in Paradise Nepal                                                       0.0
...                                                                         ...
White Monastery                                                             0.0
Whoopee Land                                                                0.0
chandragiri                                                                 0.0
kalamasi                                                                    0.0
Â BP Koirala Memorial Planetarium Observatory an...                          0.0

                                                    ...  \
tags                                                ...
Places                                              ...
55 window palace                                    ...
Akash Bhairav Temple                                ...
Anantalingeshwar Mahadev Temple                     ...
Annapurna Temple                                    ...
Art in Paradise Nepal                               ...
...                                                 ...
White Monastery                                     ...
Whoopee Land                                        ...
chandragiri                                         ...
kalamasi                                            ...
Â BP Koirala Memorial Planetarium Observatory an...  ...

                                                                            \
tags                                               sightseeing , religious
Places
55 window palace                                                       0.0
Akash Bhairav Temple                                                   0.0
Anantalingeshwar Mahadev Temple                                        0.0
Annapurna Temple                                                       0.0
Art in Paradise Nepal                                                  0.0
...                                                                    ...
White Monastery                                                        0.0
Whoopee Land                                                           0.0
chandragiri                                                            0.0
kalamasi                                                               0.0
Â BP Koirala Memorial Planetarium Observatory an...                     0.0

                                                                             \
tags                                               sightseeing ,adventerous
Places
55 window palace                                                        0.0
Akash Bhairav Temple                                                    0.0
Anantalingeshwar Mahadev Temple                                         0.0
Annapurna Temple                                                        0.0
Art in Paradise Nepal                                                   0.0
...                                                                     ...
White Monastery                                                         0.0
Whoopee Land                                                            0.0
chandragiri                                                             0.0
kalamasi                                                                0.0
Â BP Koirala Memorial Planetarium Observatory an...                      0.0

                                                                     \
tags                                               sightseeing ,art
Places
55 window palace                                                0.0
Akash Bhairav Temple                                            0.0
Anantalingeshwar Mahadev Temple                                 0.0
Annapurna Temple                                                0.0
Art in Paradise Nepal                                           0.0
...                                                             ...
White Monastery                                                 0.0
Whoopee Land                                                    0.0
chandragiri                                                     0.0
kalamasi                                                        0.0
Â BP Koirala Memorial Planetarium Observatory an...              0.0

                                                                               \
tags                                               sightseeing ,entertainment
Places
55 window palace                                                          0.0
Akash Bhairav Temple                                                      0.0
Anantalingeshwar Mahadev Temple                                           0.0
Annapurna Temple                                                          0.0
Art in Paradise Nepal                                                     0.0
...                                                                       ...
White Monastery                                                           0.0
Whoopee Land                                                              0.0
chandragiri                                                               0.0
kalamasi                                                                  0.0
Â BP Koirala Memorial Planetarium Observatory an...                        0.0

                                                                        \
tags                                               sightseeing ,hiking
Places
55 window palace                                                   0.0
Akash Bhairav Temple                                               0.0
Anantalingeshwar Mahadev Temple                                    0.0
Annapurna Temple                                                   0.0
Art in Paradise Nepal                                              0.0
...                                                                ...
White Monastery                                                    0.0
Whoopee Land                                                       0.0
chandragiri                                                        0.0
kalamasi                                                           0.0
Â BP Koirala Memorial Planetarium Observatory an...                 0.0

                                                                        \
tags                                               sightseeing ,picnic
Places
55 window palace                                                   0.0
Akash Bhairav Temple                                               0.0
Anantalingeshwar Mahadev Temple                                    0.0
Annapurna Temple                                                   0.0
Art in Paradise Nepal                                              0.0
...                                                                ...
White Monastery                                                    0.0
Whoopee Land                                                       0.0
chandragiri                                                        0.0
kalamasi                                                           0.0
Â BP Koirala Memorial Planetarium Observatory an...                 0.0

                                                                           \
tags                                               sightseeing ,religious
Places
55 window palace                                                      0.0
Akash Bhairav Temple                                                  0.0
Anantalingeshwar Mahadev Temple                                       0.0
Annapurna Temple                                                      0.0
Art in Paradise Nepal                                                 0.0
...                                                                   ...
White Monastery                                                       0.0
Whoopee Land                                                          0.0
chandragiri                                                           0.0
kalamasi                                                              0.0
Â BP Koirala Memorial Planetarium Observatory an...                    0.0

                                                                            \
tags                                               sightseeing, historical
Places
55 window palace                                                       0.0
Akash Bhairav Temple                                                   0.0
Anantalingeshwar Mahadev Temple                                        0.0
Annapurna Temple                                                       0.0
Art in Paradise Nepal                                                  0.0
...                                                                    ...
White Monastery                                                        0.0
Whoopee Land                                                           0.0
chandragiri                                                            0.0
kalamasi                                                               0.0
Â BP Koirala Memorial Planetarium Observatory an...                     0.0

                                                                        \
tags                                               sightseeing, picnic
Places
55 window palace                                                   0.0
Akash Bhairav Temple                                               0.0
Anantalingeshwar Mahadev Temple                                    0.0
Annapurna Temple                                                   0.0
Art in Paradise Nepal                                              0.0
...                                                                ...
White Monastery                                                    0.0
Whoopee Land                                                       0.0
chandragiri                                                        0.0
kalamasi                                                           0.0
Â BP Koirala Memorial Planetarium Observatory an...                 0.0


tags                                               sightseeing, wildlife
Places
55 window palace                                                      0.0
Akash Bhairav Temple                                                  0.0
Anantalingeshwar Mahadev Temple                                       0.0
Annapurna Temple                                                      0.0

In [34]:
query_index = np.random.choice(places_mat.shape[0])
print(query_index)

82

In [35]:
type(places_mat)

pandas.core.frame.DataFrame

In [36]:
distances, indices = model_knn.kneighbors(places_mat.iloc[query_index, :].reshape(1, -1), n_neighbors = 6)

AttributeError: 'Series' object has no attribute 'reshape'

In [79]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(places_mat.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, places_mat.index[indices.flatten()[i]], distances.flatten()[i]))

NameError: name 'distances' is not defined

In [80]:
# create mapper from movie title to index
place_to_idx = {
    place: i for i, place in 
    enumerate(list(df.set_index('Places').loc[places_mat.index].Places))
}

AttributeError: 'DataFrame' object has no attribute 'Places'

In [41]:
my_favorite = 'Garden of Dreams'

make_recommendation(
    model_knn=model_knn,
    data=places_sparse,
    fav_place=my_favorite,
    mapper=movie_to_idx,
    n_recommendations=10)

NameError: name 'movie_to_idx' is not defined

In [ ]:
from scipy.sparse import csr_matrix

us_canada_user_rating = us_canada_user_rating.drop_duplicates(['userID', 'bookTitle'])
us_canada_user_rating_pivot = us_canada_user_rating.pivot(index = 'bookTitle', columns = 'userID', values = 'bookRating').fillna(0)
us_canada_user_rating_matrix = csr_matrix(us_canada_user_rating_pivot.values)

from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(us_canada_user_rating_matrix)

In [59]:
query_index = np.random.choice(df.shape[0])
print(query_index)

75

In [ ]:
distances, indices = model_knn.kneighbors(us_canada_user_rating_pivot.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

In [ ]:
from django.shortcuts import render
from django.contrib.auth.models import User
from ratinghome.models import Rateinfo
import pandas as pd
import seaborn as sns
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
from scipy import spatial
from registration.models import Preferences 
from destination.models import Place_rating
# Create your views here.



def contentbased_recommendations(thisuser):
    queryset = Rateinfo.objects.values_list("pID","pName","genre_bin","params")
    df_user = pd.DataFrame(list(queryset), columns=["pID","pName","genre_bin","profile"]) 
    df_user.set_index(['pID'], inplace=True )
    
    queryset = Place_rating.objects.values_list("user","place__rateinfo__pID","place__name","place__rateinfo__params", "rate")
    alluser_ratings = pd.DataFrame(list(queryset), columns=["user","pID","pName","profile","rating"]) 
    alluser_ratings = alluser_ratings.dropna()
    user_rating = alluser_ratings.loc[alluser_ratings['user'] == thisuser.id]
    user_rating.set_index('pID',inplace=True)



    if len(user_rating.index)==0:
        prset = Preferences.objects.values_list("user","culture","wildlife","adventure","sightseeing","history","religious","child_friendly")
  
        df_preference = pd.DataFrame(list(prset),columns=["user","culture","wildlife","adventure","sightseeing","history","religious","child_friendly"] )
        df_preference = df_preference.loc[df_preference['user'] == thisuser.id]
        df_preference = df_preference.drop('user',1)
        df_preference = df_preference.astype(int)
        preference = df_preference.values.tolist()[0]
        def Similarity(preference, placeId):
        
            a= df_user.loc[placeId]
            
            
            genresA = a['genre_bin']
            checkzero = [0]*len(preference)
            if checkzero == preference:
                return 0
            else:
                genreDistance = spatial.distance.cosine(preference, genresA)
                return 1-genreDistance 
            
        sim = []
        for index, row in df_user.iterrows():
            sim.append(Similarity(preference,index))
        
        df_user['init']=sim
        sim.clear()
        df_user=df_user.sort_values("init", axis=0, ascending = False, kind='stable')
        initrec = df_user.head(30)
        recommendations = initrec.reset_index()
        initial_recommendation = recommendations['pID'].values.tolist()
        return initial_recommendation 
    
    else:

        profile_split = pd.DataFrame(user_rating['profile'].tolist())

        pr_sum = profile_split.sum(axis=0)

        pr_average = pr_sum / len(user_rating.index)

        user_profile = pr_average

        user_rating['rating'] = user_rating['rating']-3

        ratings = user_rating['rating']


        func = lambda x: np.asarray(x) * np.asarray(ratings)

        profile_split = profile_split.apply(func)

        profile_split

        ratepr_sum = profile_split.sum(axis=0)

        ratepr_average = ratepr_sum / pr_sum

        ratepr_average = ratepr_average.fillna(0)

        user_profile = user_profile.tolist()

        user_rec = df_user.profile.apply(pd.Series)

        place_profiles = user_rec*ratepr_average

        pplist = place_profiles.values.tolist()

        place_profiles['weighted_profile']= pplist

        df_user = df_user.join(place_profiles['weighted_profile'], on='pID')

        n = len(user_rating.index)
        sq = sqrt(n)
        sq = round(sq)
        if sq%2==0:
            sq = sq+1
        k = sq

        def knn(placeid):
            a = df_user.loc[placeid]
        
            knn_set = user_rating.copy()
            wt_tmp = df_user['weighted_profile']
            knn_set = pd.merge(knn_set, wt_tmp, left_on="pID", right_on="pID", how="left")
            
            point_a = np.asarray(a['weighted_profile'])
            eucdist=[]
            for index, row in knn_set.iterrows():
                point_b = np.asarray(row["weighted_profile"])
                eucdist.append(np.linalg.norm(point_a - point_b))
                
            
            knn_set['euc_distance']=eucdist
            knn_set=knn_set.sort_values("euc_distance", axis=0, ascending = True, kind='stable')
            return knn_set.head(k)
            
                
            
            

        likeable = df_user[['pName','weighted_profile']].copy()

        for index, row in df_user.iterrows():
            positive = 0
            negative = 0
            mixed = knn(index)
            for i,j in mixed.iterrows():
                if j['rating']<0:
                    negative = negative + 1
                else:
                    positive = positive + 1
            if positive < negative:
                likeable = likeable.drop(index)
            
            
            

        def CosineDistanceAfterKnn(userprofile, placeId):
            
            a= likeable.loc[placeId]
            
            
            placeprofile = a['weighted_profile']
            checkzero = [0]*len(placeprofile)
            if checkzero == placeprofile :
                return 2
            else:
                genreDistance = spatial.distance.cosine(placeprofile,userprofile)
                return (genreDistance)

        profile_dist = []
        for index, row in likeable.iterrows():
            profile_dist.append(CosineDistanceAfterKnn(user_profile,index))

        likeable['profile_distance']=profile_dist
        profile_dist.clear()

        likeable=likeable.sort_values("profile_distance", axis=0, ascending = True, kind='stable')

        recommended = likeable[['pName','profile_distance']]

        a_index = recommended.index
        b_index = user_rating.index
        mask = ~a_index.isin(b_index)
        recommended = recommended.loc[mask]
        recommended = recommended.head(30)

        def CosineDistanceWithoutKnn(userprofile, placeId):
            
            a= df_user.loc[placeId]
            
            
            placeprofile = a['weighted_profile']
            checkzero = [0]*len(placeprofile)
            if checkzero == placeprofile :
                return 2
            else:
                genreDistance = spatial.distance.cosine(placeprofile,userprofile)
                return (genreDistance)

        if len(recommended.index)<5:
            profile_dist = []
            for index, row in df_user.iterrows():
                profile_dist.append(CosineDistanceWithoutKnn(user_profile,index))

            df_user['profile_distance']=profile_dist
            profile_dist.clear()
            df_user=df_user.sort_values("profile_distance", axis=0, ascending = True, kind='stable')
            recommended = df_user[['pName','profile_distance']].head(30)
            a_index = recommended.index
            b_index = user_rating.index
            mask = ~a_index.isin(b_index)
            recommended = recommended.loc[mask].head(30)
            recommendations = recommended.reset_index()
            contentbased_recommendation = recommendations['pID'].values.tolist()
            return contentbased_recommendation
        else:
            recommendations = recommended.reset_index()
            contentbased_recommendation = recommendations['pID'].values.tolist()
            return contentbased_recommendation

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

transformed = vectorizer.fit_transform(df_final)

In [16]:
transformed

<99x174 sparse matrix of type '<class 'numpy.float64'>'
	with 419 stored elements in Compressed Sparse Row format>

In [17]:
print(transformed)

  (0, 143)	0.14694227090995546
  (0, 171)	0.44883345924934154
  (0, 133)	0.3131645868727926
  (0, 41)	0.3131645868727926
  (0, 149)	0.4965561727449693
  (0, 154)	0.5781386903196754
  (1, 68)	0.41712645455932856
  (1, 159)	0.3830912701672577
  (1, 123)	0.7072315788290724
  (1, 143)	0.17975308691918618
  (1, 133)	0.3830912701672577
  (2, 146)	0.47385490661904583
  (2, 53)	0.5344338472678778
  (2, 83)	0.5003175571250542
  (2, 68)	0.34357019587832033
  (2, 143)	0.14805535014028612
  (2, 41)	0.3155367905631574
  (3, 51)	0.6056363018185963
  (3, 114)	0.4926606643613469
  (3, 59)	0.6056363018185963
  (3, 143)	0.15393118472234354
  (4, 23)	0.5781386903196754
  (4, 143)	0.14694227090995546
  (4, 171)	0.44883345924934154
  (4, 133)	0.3131645868727926
  :	:
  (93, 24)	0.36602779643298183
  (93, 5)	0.3143767486215767
  (93, 105)	0.297748825200715
  (93, 143)	0.09303123372402122
  (94, 54)	0.5865811530375713
  (94, 50)	0.5865811530375713
  (94, 134)	0.5381615527287449
  (94, 143)	0.14908804434565875
  (95, 52)	0.4540155062648399
  (95, 96)	0.4540155062648399
  (95, 95)	0.4540155062648399
  (95, 55)	0.26777916047917616
  (95, 161)	0.41653859580920355
  (95, 114)	0.3693232725236902
  (96, 42)	0.8503150735035815
  (96, 65)	0.4798504980924071
  (96, 143)	0.21611981689115767
  (97, 119)	0.6122989555591969
  (97, 82)	0.6122989555591969
  (97, 44)	0.4753535145112574
  (97, 143)	0.1556245940847047
  (98, 173)	0.5821659378689585
  (98, 30)	0.5821659378689585
  (98, 55)	0.3433625150485187
  (98, 171)	0.4519599814473261

In [23]:
type(tfidf)

scipy.sparse.csr.csr_matrix

In [10]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(tfidf)

In [11]:
print(similarity)

[[1.         0.14638395 0.12057054 ... 0.03175714 0.02286783 0.20285476]
 [0.14638395 1.         0.16992562 ... 0.0388482  0.027974   0.        ]
 [0.12057054 0.16992562 1.         ... 0.0319977  0.02304105 0.        ]
 ...
 [0.03175714 0.0388482  0.0319977  ... 1.         0.03363356 0.        ]
 [0.02286783 0.027974   0.02304105 ... 0.03363356 1.         0.        ]
 [0.20285476 0.         0.         ... 0.         0.         1.        ]]

In [12]:
print(similarity.shape)

(99, 99)

In [13]:
# Getting the neame of place from user

place_name = input('Enter your place you would love to visit :')

Enter your place you would love to visit :Garden of Dreams

In [14]:
type(place_name)

str

In [15]:
#  Creating the list of all the places

places_list = df['Places'].tolist()
print(places_list)

['Swyambunath Stupa', 'Pashupatinath Temple', 'Kathmandu Durbar Square', 'Garden of Dreams', 'Boudhanath Stupa', 'Kumari Bahal', 'Kopan Monastery', 'Narayanhiti Palace', 'Budhanilkantha Temple', 'Asan Tole', 'White Monastery', 'Dharahara', 'Hanuman Dhoka', 'Taudaha Lake', 'Siddhartha Art Gallery', 'Pulchoki', 'The Last Resort', 'Thamel', 'Bhundole', 'Dakshinkali Temple', 'Patan', 'Indra Chowk', 'Kala Bhairav', 'Jagannath Temple', 'National Museum of Nepal', 'Vajrayogini Temple', 'Taleju Temple', 'National Botanical Gardens', 'Akash Bhairav Temple', 'Seto Machindranath Temple', 'Tribhuvan Museum', 'Shiva-Parvati Temple', 'Kaiser Library', 'Stone Inscription', 'Casino Royale', 'Annapurna Temple', 'Chhauni Museum', 'Chabahil Stupa', 'Freak Street', 'chandragiri', 'Kathmandu Fun Park', 'Nagarkot', 'Dhulikhel', 'Chobhar Danda', 'Pharping', 'Namo Buddha', 'JarsingPauwa', 'Lakuri Bhanjyang', 'Jump KTM', 'Art in Paradise Nepal', 'Whoopee Land', 'Astrek Park', 'Kathmandu Sports and Climbing Centre', 'House of Palettes', 'Outdoor Adventure Centre Nepal', 'Sundarijal', '55 window palace', 'Bhaktapur Durbar Square', 'Taumadhi Square', 'Changunarayan Temple', 'Doleshwar Mahadev Temple', 'Thimi', 'Dattatraya and Pottery Square', 'Pilot Baba Ashram', 'Kailashnath Temple', 'Ranikot', 'Trishul Danda', 'Ghyampe Danda', 'Latarambeshwar', 'Subarneshwar Mahadev Temple', 'Anantalingeshwar Mahadev Temple', 'kalamasi', 'Nil Barahi Temple', 'Gundu', 'Mahamanjushree Temple', 'Godavari', 'Shivapuri', 'Marble Danda', 'Kakani', 'Muchkund Cave', 'Chisapani', 'Champadevi', 'Panch Pokhari', 'White House', 'Bishnudwar', 'Jamacho', 'Tarebhir', 'Shivapuri National Park', 'Sukute Beach', 'Single Tree Hill', 'Bagh Bhairav Temple', 'Nagar Mandap Shri Kirti Bihar', 'Tinthana Suspension Bridge', '\xa0BP Koirala Memorial Planetarium Observatory and Science Museum', 'Dreamland Eco Resort', 'LOD - Lord Of The Drinks', 'Dadagaun', 'Kalu Pandey Danda', 'Central Zoo', 'Hello', nan, nan, nan, nan]

In [16]:
type(places_list)

list

In [17]:
# Finding the closest match for the place

import difflib
from difflib import get_close_matches

In [18]:
close_match = difflib.get_close_matches(place_name, places_list)
print(close_match)

TypeError: object of type 'float' has no len()

In [22]:
import difflib  
from difflib import get_close_matches  
  
# using the get_close_matches method  
my_list = get_close_matches('mas', ['master', 'mask', 'duck', 'cow', 'mass', 'massive', 'python', 'butter'])  
  
# printing the list  
print("Matching words:", my_list)

Matching words: ['mass', 'mask', 'master']

In [ ]:
def recommend(place_name)
    index = np.where(pt.index==place_name)[0][0]

    return suggestions

In [21]:
np.where(tfidf.index=='Pashupatinath Temple')

AttributeError: index not found

In [22]:
def get_similar_places(place_name, user_rating):
    score = tfidf[place_name]*user_rating
    score = score.sort_values(ascending=False)
    
    return score
print(get_similar_places('Pashupatinath Temple',4))

IndexError: Index dimension must be <= 2